@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Raleway:200,400,500,700';
*{padding: 0; margin: 0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; box-sizing:border-box; }



html{width:100%; height:100%;}
body{font-family: 'Raleway', sans-serif; font-size: 13px; font-weight: 400; 
background:#fff;
}

/*---------common classes--------------*/
a{text-decoration:none!important}
a:hover{text-decoration:none!important}
h1, h2, h3, h4, h5, h6{margin-top: 0px; margin-bottom: 0px;}
.pd-20{padding:20px 0px}
.pd-30{padding:30px 0px}
.pd-50{padding:50px 0px}
.pd-80{padding:80px 0px}	
.mgt-75{margin-top:75px}
.mgt-45{margin-top:45px}
.mgb-7{margin-bottom:7px}
.white{background-color:#FFF}
.light-blue{background-color:#ebfafc;}
.gray{background-color:#f0f0f0;}
.dark-blue{background-color:#012542}
.dash-line{border:1px dashed #CCCCCC}
.web-heading-bl h3{color:#173e7a;font-weight:600;font-family: 'Raleway', sans-serif; margin-top: 10px; margin-bottom: 10px;}
.web-heading-w h3{color:#ffffff;font-weight:600;font-family: 'Raleway', sans-serif; margin-top: 10px; margin-bottom: 10px;}

.breadcrubs{
	background:url(../images/Home-Page/about/About%20us%20Slider.png) center;position:relative;text-align:center;padding: 100px 0;
    height: 250px;font-family:'Raleway', sans-serif;}
	
.breadcrubs h2{color:#ffffff;display:inline-block;}
	
.breadcrubs h2::after{content:"";height: 2px;background: #00d6c3;display:block;}

.web-subheading h4{
	color: #173e7a;
	font-weight: 600;
	font-family: 'Raleway', sans-serif;
	display:inline-block;
	}
	
.web-subheading h4::after{
	content:"";
	height: 2px;
    background-image: linear-gradient(to right, #006ab4 , #00d6c3);
	margin-top:6px;
	transition:all .3s linear;
	display:block;
	}
	
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
	left: 23%!important;
	margin-left: -10px;
}

.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
	right: 23%!important;
	margin-right: -10px;
}		

/*---------header classes--------------*/	
	
header{
	background:#ffffff;
	position:fixed;
	transition:all .5s;
	z-index:12;
	width:100%}
	
.logo{float:left}
		
.menu-nav{
	float:right;
	font-family: 'Raleway', sans-serif;
	padding: 6px 0px;

	}
.menu-nav ul{
	margin-bottom:0px !important}
	
.menu-nav ul li{
	display:inline-block;
	list-style:none;
	color:#4b4b4b;
	margin-bottom:0px !important}	
	
.menu-nav li a{
	color:#4b4b4b;
	font-size:15px;
	font-weight:600;
	padding:0 15px ;
	text-decoration:none;
	display:inline-block}
	
.menu-nav li a:hover{color:#173e7a;}	
	
.menu-nav li a::after{
	content:"";
	display:block;
	height:2px;
	width:0;
	background:#173e7a;
	transition:width .3s}
	
.menu-nav li a:hover::after{
	width:100%;
	transition:width .3s;}				
	
.download-app{
	background: #173e7a;
    text-align: center;
    padding: 8px 0px;
    font-weight: 600;
    border-radius: 5px;
	}
		
.download-app img{
	position:relative;
	padding-right:5px
	}		

a .download-app {
	position:relative;
	color:#ffffff;
	}
.login{
    text-align: center;
    padding: 8px 10px;
    font-weight: 600;
    border-radius: 5px;
	border:1px solid #173e7a;
	transition:.3s all ease-out;
	clear:both;
	}

a.login {	
	color:#173e7a;
	background:#173e7a;
	}
	
.login:hover{
    color:#ffffff;
	background:#173e7a;
	}			

/*---------slider classes--------------*/

.slider{
	z-index:-1;
	}
	
.slider-caption{
	position: absolute;
	float:right;
    left: 58%;
    top: 26%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
	text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}

.slider-caption span {
    color: #00daff;
}
	
.slider h2{
	font-size:36px;
	line-height:45px}
.slider p{
	font-size:18px;}		


/*---------loan services classes--------------*/

.loan-service{
	background:#ffffff;
	text-align:center;
	}

.home-loan-service{
	padding:10px;
	text-align:center;
	background-color:#ffffff;
	color:#173e7a;
	margin:-97px -15px;
	font-size:16px;
	border-right:1px solid #666;
	transition:all .3s linear;
	}

.home-loan-service img{
	text-align:center;
	padding-bottom:5px
	}
		
.hl-service1{
	border-top-left-radius:80px;
	border-top-right-radius:0px;
	clear:both
}

.hl-service2{	
	border-top-right-radius:80px;
	border-top-left-radius:0px;
	border-right:none;
	clear:both}		
	
.home-loan-service:hover, .home-loan-service.active, .home-loan-service:focus{
	background-color:#173e7a;
	color:#ffffff;
	text-decoration:none;
	}
	
	
/*---------about loanadda classes--------------*/	
	
.about-loanadda{
	text-align:center;
	}
	
.loanadda-facility{
	width:89%;
    padding: 29px 29px;
	margin:35px auto 0;
	background-color:#ffffff;
	transition:all .3s linear;
	}
		
.loanadda-facility h4{
	color:#173e7a;
	line-height:30px;
	margin-top:0;
	margin-bottom:0;
	font-weight:600}	
	
.loan-process img{
    margin-bottom: -10px;}	

.loanadda-facility span{
	color:#006ab4;
	font-size:16px;
	font-weight:600;
	margin-bottom:0;
	margin-top:10px;
	}
.loan-process{
	margin-bottom:20px}
.processimg{
	margin-left: 78px;}
	
.process-line{
	border-bottom: 2px dashed #006ab4;
	z-index: 10;
	width: 99%;
	position: absolute;
	}
	
.process-line-last{
	border-bottom: 2px dashed #006ab4;
	z-index: 10;
	width: 64%;
	position: absolute;
	}	
	
.last-line{
    border-bottom: 2px dashed #006ab4;
	z-index: 10;
	width: 98%;
	position: absolute;
	width: 48%;
	}					
.quick-apply{
	margin:0 auto;
	clear:both}	
	
.loanadda-app-btnb1 {
	border: 2px solid #173e7a;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #173e7a;
	color: #ffffff;
	font-weight: 600;
	font-size: 20px;
	transition: .5s ease-in-out;
	/* margin-top: 10px; */
	clear: both;
	display:inline-block;
	margin-bottom:15px
}

.loanadda-app-btnb1:hover {
	border: 2px solid #173e7a;
	background-color: #ffffff;
	color: #173e7a;
}	
	
.home-popup{
	background-color:#173e7a!important}

.modal-content{
	position:absolute!important}	
	
.popup-left{float:left;margin-left: 0px;}	
.modal-header {
    padding: 15px;
    border-bottom: 1px solid transparent!important;
}
.popup-right{
	float:right;width: 61%;    margin-top: 56px;}
.modal-title{font-family: 'Raleway', sans-serif; font-weight:bolder; color:#008fff}
h2.modal-title span{color:#ffffff}

.modal-body {
    position: relative;
    padding: 0px 15px 0 0!important;
}

.form-control{margin-top:0px!important;}
#remember{
    float: left;
    margin-top: 0px;
	color:#ffffff
}
.popup-form{    padding: 10px 20px;
    margin-top: 20px;}

.close {
    float: right;
    font-size: 32px!important;
    font-weight: 500!important;
    line-height: 1;
    color: #ffffff!important;
    text-shadow: 0 1px 0 #fff;
    opacity: 1!important;
}
.form-icon{width:30px;height:30px}	
	
.input-group-addon {
    /* padding: 6px 14px; */
    font-size: 14px;
    font-weight: 400;
    /* line-height: 1; */
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 0px!important;
}	
	
.input-group-addon:first-child {
    /* width: 20px; */
    /* height: 20px; */
    border-right: 0;
    background-color: #008fff;
    border: 1px solid #008fff;
    color: #ffffff;
    font-size: 18px;
}	
.apply-btn{display: inline-block;}
.apply-now{
    background-color: #008fff;
	border-radius:0!important;
	color:#ffffff!important;
	}
	
/*---------loan services classes--------------*/

.loanadda-ration{
	text-align:center;
	background-color:#ffffff;
	background-attachment:fixed;
	background-size:cover;
	color:#173e7a;
	transition:all .3s linear;
	}
.loanadda-ration h4{
	font-family: 'Raleway', sans-serif;
	font-size:24px;
	font-weight:600;
	line-height:30px;
	padding-top:0px	;
	margin-bottom: 2px;
}
.loanadda-ration p{
	font-size:16px;
}


/*---------loanadda application classes--------------*/
.loanadda-moile-app{
	background:url(../images/Home-Page/Download%20BG.png)center;
	background-size:cover;
	height:86vh;
	
	}
.loanadda-app{
	font-family: 'Raleway', sans-serif;
	width:80%;
	margin:0 auto;
	text-align:center;
	}

.app-facility{
	background-color:#ffffff;
	border-radius:50%;
	width:150px;
	height:150px;
	margin: 20px 50px;
	position:relative;	
	transition:all .5s;
	perspective:1000;
	color:#173e7a;
	 }
	
.app-facility:hover{
	background-color:#173e7a;
	color:#ffffff;
	transform:rotate3d(90, 90, 0, 180deg)	
	 }	
.app-facility:before{
	position:absolute;
	border:2px dashed #ffffff;
	border-radius:inherit;
	content:'';
	height: calc(100% + 20px);
    width: calc(100% + 20px);
    margin: 20px 15px;
    top: -30px;
    left: -25px;
	  }	
.app-facility h4{
	color: #173e7a;
    font-weight: 600;
    font-size: 18px;
    margin: auto;
    position: absolute;
    display: table;
    top: 0;
    bottom: 0;
	padding:47px 15px;;
	transition:all .1s;
	}
.app-facility h4:hover{
	color:#ffffff;
	transform:rotate3d(90, 90, 0, 180deg)}	
		
.loanadda-app-btnb{
	border:2px solid #173e7a;
	padding:10px 20px;
	border-radius:5px;
	background-color:#173e7a;
	color:#ffffff;
	font-weight:600;
	font-size:20px;
	transition:.5s ease-in;
	margin-top:10px;
	clear:both
	}
	
.loanadda-app-btnb:hover{
	border:2px solid #ffffff;
	background-color:transparent;
	color:#ffffff;	
	}
	
.loanadda-app-btnw{
	border:2px solid #ffffff;
	padding:10px 20px;
	border-radius:5px;
	background-color:transprent;
	color:#ffffff;
	font-weight:600;
	font-size:20px;
	transition:.5s ease-out;
	margin-top:10px;
	}
	
.loanadda-app-btnw:hover{
	border:2px solid #173e7a;
	background-color:#173e7a;
	color:#ffffff;	
	}		
	
	
/*---------loanadda contact classes--------------*/

.loanadda-hcont-detail{
	transition:all .3s linear;
	}
	
.loanadda-map{
	overflow: hidden;
    margin-top: 18px;}

.contact-info{
	text-align:center;
	}
	
.contact-info img{	
	padding-bottom:10px;
}	
	
.contact-detail{
	text-align:center;	
    color: #333333;
	margin-bottom:20px
	}
	
	
.contact-detail a{
	color:#333333	
	}			
	
.form-control{
	border-radius: 0!important;
    margin: 10px 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075!important);
	}
	
.form-submit{
	background-color:#173e7a;
	padding:10px 30px;
	color:#ffffff;
	border:none;
	font-size:18px
	}	


/*---------loansdda newsletter classes--------------*/
	
.loanadda-newsletter{
	padding: 20px;
    background: #173e7a;
	float:left;
    color: #ffffff;
    border: none;
    width: 65%;
	}
.loanadda-newsletter::placeholder{
	color:#ffffff}
	
.newsletter-submit{
	padding: 16px;
    background: #ffffff;
    color: #173e7a;
    border: none;
    width: 25%;
	border-top-left-radius:50px;
	border-bottom-left-radius:50px;
	box-shadow: 0 3px 14px -4px #000000;
	margin-left: -30px;
	font-size:19px;
	}
.appdownload{float:right}	


/*---------loanadda footer classes--------------*/	
	
.loanadda-footer h4{
	font-size:16px
	}	
.loanadda-footer, li a{
	color:#ffffff;
	text-decoration:none
	}	

.loanadda-footer li{
	list-style:none;
	}
	
.loanadda-footer li a{
	color:#CCCCCC;
	text-decoration:none;
	font-size:12px
	}
	
.loanadda-footer li a:hover{
	color:#ffffff;
		}			

.footer-mid{
	padding:15px 0px 0px}

.footer-menu li{
	display:inline-block;
	margin-top:20px
	}
	
.footer-menu li:after{
	content:"|";
	padding: 0 5px;}
								
.footer-menu li:last-child:after{
	content:"";
	}	
	
.social-media li {
	display:inline-block;
		}	
	
 i.fa.fa-facebook, i.fa.fa-twitter, i.fa.fa-instagram, i.fa.fa-linkedin, i.fa.fa-google-plus, i.fa.fa-pinterest{
 border-radius: 100%;
 background-color:#ffffff;
 font-size: 22px;
 height: 38px;
 line-height: 35px;
 margin: 5px 3px;
 text-align: center;
 width: 38px;
 transition:.3s all ease-in-out;
 }
 i.fa.fa-facebook{
 border: 2px solid #3B5998;
 color: #3B5998;
 }
 i.fa.fa-twitter{
 border: 2px solid #55acee;
 color: #00aced;
 }
 i.fa.fa-instagram{
 border: 2px solid #833ab4;
 color: #833ab4;
 }
 i.fa.fa-linkedin{
 border: 2px solid #007ab9;
 color: #007ab9;
 }
 i.fa.fa-google-plus{
 border: 2px solid #dc4e41;
 color: #dc4e41;
 }
 i.fa.fa-pinterest{
 border: 2px solid #cb2027;
 color: #cb2027;
 }
 
  i.fa.fa-facebook:hover{
 border: 2px solid #3B5998;
 background-color:#3B5998;
 color: #ffffff;
 }
 i.fa.fa-twitter:hover{
 border: 2px solid #55acee;
 background-color:#55acee;
 color: #ffffff;
 }
 i.fa.fa-instagram:hover{
 border: 2px solid #833ab4;
 background-color:#833ab4;
 color: #ffffff;
 }
 i.fa.fa-linkedin:hover{
 border: 2px solid #007ab9;
 background-color:#007ab9;
 color: #ffffff;
 }
 i.fa.fa-google-plus:hover{
 border: 2px solid #dc4e41;
 background-color:#dc4e41;
 color: #ffffff;
 }
 i.fa.fa-pinterest:hover{
 border: 2px solid #cb2027;
 background-color:#cb2027;
 color: #ffffff;
 }

.footer-bottom{
	text-align:center;
	color:#CCCCCC;
	padding-top:10px
	}	

	

/*---------loansdda About classes--------------*/	
		
.about-ceo h4{
	color:#006ab4;
	text-align:center;
	line-height:20px
	}
.about-ceo h4>span{
	color:#666;
	font-size:14px
	}		
	
.about-lp-loanadda{
	background:url(../images/Home-Page/about/Our%20Mission%20Banner.png) no-repeat center;
	background-size:cover;
	background-attachment:fixed;
	text-align:center;
	}	
.about-lp-loanadda h3{
	color:#ffffff;
	text-align:center
	}				
.loanadda-about{
	width: 100%;
    padding: 30px 20px;
	margin:35px auto 15px;
	background-color:#ffffff;	
	transition:all .3s linear;
	box-shadow: 0 3px 14px -4px #000000;
	}

.loanadda-about:hover, .loanadda-about.active{
	background-color:#001a41;	
	color:#ffffff
	}	
	
.loanadda-about img{ margin-right:10px}

.loanadda-about p{margin-top:15px}

.ceo-snapshort{
	text-align:center;}


/*---------loanadda Download App classes--------------*/	

.downloadapp-banner{
	background:url(../images/Home-Page/download-app/BG.png) center;
	background-size:cover;
	text-align:center;
	padding: 50px 0 130px;}
	
.loanadda-dapp{
	text-align:center;
    padding: 40px 30px;
	margin:35px auto 15px;
	background-color:#ffffff;	
  	border-image-slice: 1;
	transition:all .3s linear;
	box-shadow: 0 4px 8px -4px #000000;
	}	
	
.loanadda-dapp img{
	padding-bottom:10px
	}
	
.dapp-banner-text{
	text-align:center;
	position:relative;
	}
		
.app-banner-text h1, h3{
	font-family: 'Raleway', sans-serif;
	font-weight:400}

.dapp-banner-text span{
	padding: 0 7px}

.app-banner-text{
	letter-spacing:2px;
	}

.app-banner-text h1{
	color:#ffffff;
	font-size:39px;
	padding-left:0px;
	font-weight:600}
	
.app-banner-text h3{			
	color:#ffffff;
	font-size:8;
	margin-left: 35px;
	margin-top:0;	
}
.dapp-btn{
	font-size: 16px;
	background: #001f43;
	color: #ffffff;
	padding: 8px 28px;
	margin: 10px 0 0 30px;
	font-size: 18px;
	font-weight: 500;
	display: inline-block;}
	
.dapp-btn a{
	color:#ffffff;
	}
.dapp-btn a:hover{
	color:#ffffff;
	}	
.dapp-btn img{
	padding-right:10px
	}

.banner-girl{
	text-align:center;
	margin: 30px 0px 0 22%;}
	   


/*---------loanadda EMI Calculator classes--------------*/	
	
.loanadda-calculator{
	background:#173e7a url(../images/Home-Page/Image/shape.png) no-repeat right  50%;
	color:#ffffff;
	}			

		
.emi-calculator{
	padding:10px;
	margin:30px 0;
	background-color:#ffffff;
	color:#173e7a;
	text-decoration:none;
	font-size:16px;
	text-align:center;
	border-radius:2px;
	transition:all .3s linear;
	z-index:10;
	}

.emi-calculator.is-active{
	background-color:#00daff;
	color:#173e7a;
	text-decoration:none;
	}
			
.emi-calculator:hover, .emi-calculator.active, .emi-calculator:focus{
	background-color:#00daff;
	color:#173e7a;
	text-decoration:none;
	}
.amount-ration{margin-top:25px}	
.set-amount{
	width: 50%!important;
    float: left;
    display: inline-block;}	
	
.amount{
	float:right;
    font-size: 21px;}	


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 5px solid #ffffff!important;
    background: #008fff!important;
    font-weight: normal;
    color: #454545!important;
    border-radius: 50%;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -11px!important;
    margin-left: -.6em;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 2.2em!important;
    height: 2.2em!important;
    cursor: default;
    -ms-touch-action: none;
    touch-action: none;
}

.initial-ration{margin-top:20px}
.set-left{float:left}
.set-right{float:right}
/*---------loanadda LAP LP classes--------------*/	

.loan-banner{
	background:url(../images/Home-Page/lp-loan/BG%201.png) center;
	background-size:cover;	
}	
.loan-banner-heading{	
    position: absolute;
    color: #ffffff;
    margin-top: 10%;
	}
	
.loan-banner-heading h2{font-size:36px}
.loan-banner-heading h1{font-size:40px; font-weight:600}		
.loan-banner-heading li{
	line-height: 26px;
    list-style: none;
    font-size: 16px;}
.loan-banner-heading li .fa-check{
	margin-right:8px}		
	
	
.form-horizontal .control-label {
	padding-top: 17px!important;
	margin-bottom: 0;
	text-align: right;
}

.loanadda-loan-form{
	background: #ffffff;
    text-align: center;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0px 31px 1px #333;
	}
	
.loan-form-heading{
	padding:10px 0px 0 0;}

.loan-form-heading h3{
	color:#008fff;
    font-weight: 600;
	font-size:29px;
	font-family: 'Raleway', sans-serif;
	}
	
.loan-form{
	width:93%;
	margin: 0 auto;}
	
.checkmark {
    position: absolute;
    top: 0;
    left: 48px;
    height: 32px;
    width: 74%;
    background-color: #eee;
    border-radius: 0;
}

.radiobt input:checked ~ .checkmark {
    background-color: #ccc;
}
.radiobt {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 12px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 14px;
    width: 85%!important;
    margin: 0 1%;
    color: #333!important;
    /* float: left!important; */
}
.radiobt strong {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 9999;
    left: 0px;
    top: 8px;
}	
.checkread{color:#333333!important	}	
.loan-boder{
	background-image:url(../images/Home-Page/lp-loan/line.png);
	background-repeat:no-repeat;
	background-position:right;
	height:auto;
	max-height:100%;}	
	
.loan-lp-overview li{
	list-style:none;
	padding: 7px 35px 0 0;
	line-height:20px;
	word-spacing:1px
	}
.loan-lp-overview li .fa-check-square{
	color: #337ab7;
    font-size: 18px;
    margin-right: 5px;}
	
.loan-lp-overview p{
	line-height: 24px;
    word-spacing: 1.1px;}	
				
.loan-process-heading{
	color:#ffffff;
	text-align:center}	
	
.loan-steps{background:url(../images/Home-Page/lp-loan/BG2.png)no-repeat center;
			background-attachment:fixed;
			background-size:cover;}	
	
.loan-steps-process {
    background: #ffffff;
    padding: 26px 37px 40px 90px;
    width: 75%;
    margin: 24px auto 10px auto;
    height: 150px;
	transition:all .3s;
}

.loan-steps-process:hover {
    background: #173e7a;
    color:#ffffff
}

.required-doc{margin-top:30px}

.required-doc li{list-style:none;}
.required-doc li .fa-check{
	color:#173e7a;margin-right:10px}
.icon-box{
	 padding: 15px;
    float: left;
    left: 6%;
    position: absolute;
    background: #ffffff;
	border: 5px dotted transparent;
    border-image: linear-gradient(to right, #006ab4 , #00d6c3);
    border-image-slice: 1;
    transition: all .3s linear;}				

.loan-apply{    margin: 15px auto;}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: #ffffff;         /* adjust as needed */
	
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.sty-col-icon{
	color:#ffffff;
	font-size:18px;
	margin-right:8px;}
	
.panel-default>.panel-heading {
    color: #ffffff!important;
    background-color: #173e7a!important;
    border: 1px solid #173e7a!important;
}	

/*---------loanadda mobile menu classes--------------*/	

.mobile-menu{display:none}

@media only screen and (max-width:990px){

.header{display:none}	
.mobile-menu{display:block;background:rgba(225,225,225,.5)}
	
	.menu-bar{
		float: right;
		margin-right: 15px;
		margin-top: 0px;
		cursor: pointer
	}
	.bar1, .bar2, .bar3{
		width: 35px;
		height: 5px;
		background: #333333;
		transition: .4s;
		margin: 4px 0px;
		
	}
	
	.change .bar1{
		transform: rotate(-45deg)translate(-9px,6px)
	}
	
	.change .bar2{
		opacity: 0
	}
	
	.change .bar3{
		transform: rotate(45deg) translate(-6px,-4px)
	}

#mobnav {
	display:none;	
    float: left;
    margin-top: 33px;
	clear:both;
	width:100%;
	transition:.5s all linear;
}
#mobnav li{
	display:inline-block} 

#mobnav li>a:first-child {
	padding-left:0
}

#mobnav li>a {
    width: 100%;
    list-style: none; 
	color: #4b4b4b;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 15px;
    text-decoration: none;
    display: inline-block;
}
	
.login {
    display: inline-block;
	width: 100%;
	padding:8px 45px
}

.download-app {
    display: inline-block;
	width: 100%;
	padding: 8px 15px;
}
		
}

@media (min-width:1024px) and (max-width:1199px){
	.processimg {
    margin-left: 49px;
}

.loanadda-app {
	width: 95%;
}

.loanadda-moile-app {
	height: 84vh;
}

.app-facility {
	width: 140px;
	height: 140px;
}

.app-facility h4 {
	padding: 43px 15px;
}
	
.newsletter-submit {
	width: 32%;
}	
	
	}	
	
@media (min-width:768px) and (max-width:1023px){



/*---------loanadda mobile common classes--------------*/

.web-heading-bl h3 {
	font-size:20px!important
}	

.breadcrubs {
	padding: 35px 0;
	height: 160px;
}	


/*---------loanadda mobile home page classes--------------*/

.slider-caption {
    left: 48%;
	top: 19%;;
}

.slider h2 {
	font-size: 35px;
	line-height: 40px;
}

.processimg {
    margin-left:26px;
}

.modal-dialog {
    width: 711px;
}	
	
.popup-left {
	width: 25%;
}	
.popup-right {
	float: right;
	width: 55%;
	margin-top: 5px;
}
.modal-title {
	font-size: 28px;
}

.loanadda-facility {
    margin: 0px auto 0;
	width:100%
}

.loanadda-app {
    width: 100%;
}
	

.loanadda-moile-app {
	height: 84vh;
}

.app-facility {
	width: 140px;
	height: 140px;
	margin: 20px 50px 20px 30px;
}

.app-facility h4 {
	padding: 43px 15px;
}

.loanadda-app-btnb {
    padding: 10px 16px;
}

.newsletter-submit {
	width: 32%;
}

	
}

@media (min-width: 640px) and (max-width: 767px){
.login {
	padding: 8px 37px;
}

/*---------loanadda mobile common classes--------------*/

.web-heading-bl h3 {
	font-size:20px!important
}	

.breadcrubs {
	padding: 35px 0;
	height: 160px;
}	


/*---------loanadda mobile home page classes--------------*/	
	
.slider-caption {
    left: 50%;
	top: 28%;
}

.slider h2 {
	font-size: 29px;
	line-height: 30px;
}

.slider p {
	font-size: 16px;
}

.home-loan-service {
	margin: 0px -15px;
	border: 1px solid #CCC;
	border-top: none;
}

.hl-service1 {
	border-top-left-radius: 0px;
}
.hl-service2 {
	border-top-right-radius: 0px;
}

.loanadda-facility {
    margin: 0px auto 0;
	width:100%
}

.processimg {
    margin-left:89px;
}	
.process-line {
	width: 35%;
	left: 32%;
}
.process-line-last{
	width: 35%;
	left: 32%;
	}
	
.popup-left{display:none!important}	
	.popup-left img{display:none!important}
	
.modal-dialog {
    width: 501px;
}	
	
.popup-left {
	width: 20%;
}

.popup-left img{width: 266px;}

.popup-right {
	float: right;
	width: 55%;
	margin-top: 5px;
}
.modal-title {
	font-size: 19px;
}	
.loanadda-moile-app {
	height: 72vh;
}
.loanadda-app {
    width: 55%;
	float: right;
}

.phoneapp{
	width:42%;
	float:left}

.app-facility {
	width: 110px;
	height: 110px;
	margin: 11px 50px 20px 30px;
}

.app-facility h4 {
	padding: 32px 15px;
	font-size: 16px;
}

.loanadda-app-btnb {
    padding: 8px;
	font-size: 16px;
}

.loanadda-app-btnw{
	padding: 8px;
	font-size: 16px;
	}

.newsletter-submit {
	width: 32%;
}	
.appdownload {
	float: left;
}	

.news-report img{
	height:80px}

/*---------loanadda mobile downloadapp classes--------------*/	
	
.downloadapp-banner {
    padding: 20px 0 52px;
}	
	
.mobileimg{
	float:left;
	width:40%
	}
		
.dapp-banner-text {
    float: right;
	transition:.3s all linear;
}	

.dapp-banner-text {
    margin-right: 20px;
}	
.app-banner-text h1 {
    font-size: 30px;
	margin-top: 0px;
}

.banner-girl {
    margin: 15px 0px 0 20%;
    width: 65%;
}

.loanadda-dapp {
    margin: 35px;
}

.loanadda-dapp:first-child {
    margin-top: 0px;
}

/*---------loanadda mobile footer classes--------------*/		
.footer-mid {
    padding: 15px 0px 0px;
    text-align: center;
}
	
		
}

@media (min-width:480px) and (max-width:639px){

#mobnav li{
	display:inline-block}
	
.login {
	padding: 8px 46px;
}	

/*---------loanadda mobile common classes--------------*/

.web-heading-bl h3 {
	font-size:20px!important
}	

.breadcrubs {
	padding: 35px 0;
	height: 160px;
}
	


/*---------loanadda mobile home page classes--------------*/	
	
.slider-caption {
    left: 43%;
	top: 19%;
}

.slider h2 {
	font-size: 23px;
	line-height: 20px;
}

.slider p {
	font-size: 13px;
}

.home-loan-service {
	margin: 0px -15px;
	border: 1px solid #CCC;
	border-top: none;
}

.hl-service1 {
	border-top-left-radius: 0px;
}
.hl-service2 {
	border-top-right-radius: 0px;
}

.loanadda-facility {
    margin: 0px auto 0;
	width:100%
}

.processimg {
    margin-left:89px;
}	
.process-line {
	width: 35%;
	left: 32%;
}
.process-line-last{
	width: 35%;
	left: 32%;
	}

.popup-left {
	display: none;
}

.popup-right {
	float: none;
	width: 100%;
	margin-top: 0px;
}

.modal-title {
	font-size: 24px;
	padding: 0 21px;
}

.popup-form {
	padding: 10px 20px;
	margin-top: 5px;
}
	
.loanadda-moile-app {
	height: 64vh;
}
.loanadda-app {
    width: 57%;
	float: right;
}

.phoneapp{
	width:42%;
	float:left}

.app-facility {
	width: 90px;
	height: 90px;
	margin: 11px 0px 20px 7px;
}

.app-facility h4 {
	padding: 23px 13px;
	font-size: 14px;
}

.loanadda-app-btnb {
    padding: 8px 3px;
	font-size: 14px;
}

.loanadda-app-btnw{
	padding: 8px;
	font-size: 14px;
	}

.newsletter-submit {
	width: 32%;
}	
.appdownload {
	float: left;
}
	
.news-report img{
	height:80px}

/*---------loanadda mobile footer classes--------------*/		
.footer-mid {
    padding: 15px 0px 0px;
    text-align: center;
}	

.loanadda-footer h4 {
    font-size: 13px;
}	

/*---------loanadda mobile Dowload App classes--------------*/
	
.downloadapp-banner {
    padding: 15px 0 40px;
}	
	
.mobileimg{
	float:left;
	width:42%
	}	
	
.dapp-banner-text {
    float: right;
	transition:.3s all linear;
	width: 55%;
}	

.dapp-banner-text {
    margin-right: 5px;
}	
.app-banner-text h1 {
    font-size: 24px;
	margin-top: 0px;
}

.app-banner-text h3 {
    font-size: 16px;
	margin-top: 0px;
}

.dapp-btn {
    padding: 8px 22px;
    font-size: 14px;
	margin: 4px 0 0 15px;
}

.banner-girl {
    margin: 10px 0px 0 20%;
    width: 65%;
}	
	
.loanadda-dapp:first-child {
    margin-top: 0px;
}	

	
	}
	
@media (min-width:320px) and (max-width:479px){
#mobnav li{
	display:block}	
	
/*---------loanadda mobile common classes--------------*/

.web-heading-bl h3 {
	font-size:20px!important
}	

.breadcrubs {
	padding: 25px 0;
	height: 135px;
}	
	

/*---------loanadda mobile home page classes--------------*/	
	
.slider-caption {
    left: 43%;
	top: 14%;
}

.slider h2 {
	font-size: 18px;
	line-height: 4px;
}

.slider p {
	font-size: 12px;
}

.home-loan-service {
	margin: 0px -15px;
	border: 1px solid #CCC;
	border-top: none;
	font-size: 13px;
}

.hl-service1 {
	border-top-left-radius: 0px;
}
.hl-service2 {
	border-top-right-radius: 0px;
}

.loanadda-facility {
    margin: 0px auto 0;
	width:100%;
	padding: 17px 29px;
}

.loan-process img {
	margin-bottom: -7px;
	width: 50%;
}

.loan-process1 img {
	margin-bottom: -7px;
	width: 30%;
}

.processimg {
    margin-left:60px;
}	
.process-line {
	width: 35%;
	left: 32%;
}

.popup-left {
	display: none;
}

.popup-right {
	float: none;
	width: 100%;
	margin-top: 0px;
}

.modal-title {
	font-size: 25px;
}

.popup-form {
	padding: 10px 20px;
	margin-top: 5px;
}

.process-line-last{
	width: 35%;
	left: 32%;
	}
.loanadda-app-btnb1 {
	font-size: 18px;
}	
.loanadda-moile-app {
	height: 105vh;
}
.loanadda-app {
    width: 82%;
	margin-top:20px
}

.phoneapp {
	width: 63%;
	/* float: left; */
	margin: 0 auto;
}

.app-facility {
	width: 105px;
	height: 105px;
	margin: 11px 0px 20px 7px;
}

.app-facility h4 {
	padding: 30px 10px;
	font-size: 15px;
}

.loanadda-app-btnb {
    padding: 8px 3px;
	font-size: 14px;
}

.loanadda-app-btnw{
	padding: 8px;
	font-size: 14px;
	}

.newsletter-submit {
	width: 43%;
	padding: 18px 16px;
	font-size: 17px;
}	
.appdownload {
	float: left;
}
.loanadda-ration img {
	width: 32%;
}	
.loanadda-ration h4 {
	font-size: 18px;
}	
.loanadda-ration p {
	font-size: 13px;
}	
	
.news-report img{
	height:70px}	
	
	
	/*---------loanadda mobile footer classes--------------*/		
.footer-mid {
    padding: 5px 0px 0px;
}	

.loanadda-footer h4 {
    font-size: 13px;
}


element {

}
.footer-menu li {
    margin-top: 6px;

}

.banner-girl {
    display:none
}



/*---------loanadda mobile Dowload App classes--------------*/
	
.downloadapp-banner {
    padding: 15px 0 50px;
}	
	
.mobileimg{
	width: 67%;
	margin: 0 auto;
	}	
	
.dapp-banner-text {
   	margin:20px auto 0;
	transition:.3s all linear;
}

	
.app-banner-text h1 {
    font-size: 26px;
	margin-top: 0px;
}

.app-banner-text h3 {
    font-size: 20px;
	margin-top: 0px;
}

.dapp-btn {
    padding: 8px 22px;
    font-size: 14px;
	margin: 4px 0 0 15px;
}


/*---------loanadda mobile contact classes--------------*/	
	
.contact-detail {
	width: 100%;
	font-size:12px
}	
	
	
	}	
	
@media only screen and (max-width:320px){

.web-heading-bl h3 {
	font-size: 18px !important;
}	
	
	/*---------loanadda mobile home page classes--------------*/	
	
.slider-caption {
    left: 35%;
	top: 7%;
}

.slider h2 {
	font-size: 16px;
	line-height: 4px;
}

.slider p {
	font-size: 11px;
}

.loan-process img {
    margin-bottom: -6px;
    width: 50%;
}

.loan-process1 img {
    margin-bottom: -6px;
    width: 30%;
}

.loanadda-app {
	width: 94%;
	margin-top: 20px;
}
.loanadda-moile-app {
	height: 101vh;
}
.news-report img {
	height: 62px;
}

.processimg {
    margin-left: 53px;
}
	
.loanadda-newsletter {
	padding: 16px 20px;
}
.newsletter-submit {
	padding: 14px 16px;
}	
	
	}	